<table class="widefat striped js-translators-table translators-table">
    <thead>
    {% include 'table-header.twig' %}
    </thead>
    <tbody>
    {% for user in users %}
        {% include 'translators-row.twig' %}
    {% endfor %}
    </tbody>
</table>