{% extends "base.twig" %}

{% set styles = {
  fieldset: 'js-screener-step',
  number: 'text-color-blue-bright font-bold',
  heading: 'text-font-size-larger text-color-blue-dark border-b border-color-grey-mid pb-4 mb-3',
  padding: 'p-3 screen-desktop:p-4',
  label: 'font-bold text-font-size-normal'
} %}

{% block content %}
<main class="main-content screen-desktop:my-2 screen-desktop:mx-4 screen-desktop:px-2" id="content" data-js="view">
  <form data-js="screener" class="bg-color-white screen-desktop:border border-color-grey-light screen-desktop:m-4 text-font-size-small" action="/eligibility/results/">
    {% include 'screener/step-1.twig' with {'categories': categories} %}
    {% include 'screener/step-2.twig' %}
    {% include 'screener/step-3.twig' %}
    {% include 'screener/step-4.twig' %}
    {% include 'screener/step-5.twig' %}
    {% include 'screener/step-6.twig' %}
    {% include 'screener/step-7.twig' %}
    {% include 'screener/step-8.twig' %}
    {% include 'screener/step-9.twig' %}
    {% include 'screener/step-10.twig' %}
    {% include 'screener/recap.twig' with {'formAction': formAction} %}
  </form>
</main>
{% endblock %}

{% block scripts_footer %}
{{ function('enqueue_script', 'assets/js/screener') }}

<script type="template/html" id="screener-income-template">
  {% include 'screener/template-income.underscore.twig' %}
</script>

<script type="template/html" id="screener-expense-template">
  {% include 'screener/template-expense.underscore.twig' %}
</script>

<script type="text/template" id="screener-member-summary-template">
  {% include 'screener/template-member-summary.underscore.twig' %}
</script>

<script type="text/template" id="screener-member-template">
  {% include 'screener/template-member.underscore.twig' %}
</script>

<script type="text/template" id="screener-member-option-template">
  {% include 'screener/template-member-option.underscore.twig' %}
</script>

<script type="text/template" id="screener-recap-template">
  {% include 'screener/template-recap.underscore.twig' %}
</script>

{% include 'screener/strings.twig' %}
{% endblock %}
