

@mixin background-color($colors) {

  @each $c in $colors {

    $namespace: nth($c, 1);
    $color: nth($c, 2);
    $text: nth($c, 3);
    $hyperlink: nth($c, 4);

    .bg-#{$namespace} {
      color: $text;
      background-color: $color
    }

    // .bg-#{$namespace}:not(.bg-a-inherit) a:not(.inherit):not(.btn) {
    //   color: $hyperlink
    // }

    // .bg-#{$namespace}:not(.bg-a-inherit) a:hover:not(.inherit):not(.btn) {
    //   color: $hyperlink
    // }

    // .btn.bg-#{$namespace}:focus,
    // .btn.bg-#{$namespace}:active,
    // html:not(.touchevents) .btn.bg-#{$namespace}:hover {
    //   color: $text;
    //   background-color: darken($color, $delta-psuedo);
    // }

  }

}

@mixin color($colors) {

  @each $c in $colors {

    $namespace: nth($c, 1);
    $color: nth($c, 2);
    $text: nth($c, 3);
    $hyperlink: nth($c, 4);

    .c-#{$namespace} {
      color: $color !important
    }

    .b-#{$namespace} {
      border-color: $color
    }

    .f-#{$namespace} {
      fill: $color
    }

    .s-#{$namespace} {
      stroke: $color
    }

  }

}

// Base Background Colors
@include background-color($base);

// Secondary Background Colors
@include background-color($secondary);

// Primary Background Colors
@include background-color($primary);

// Base Colors
@include color($base);

// Secondary Colors
@include color($secondary);

// Primary Colors
@include color($primary);

// Transparency
// @include color($transparent);

// .c-black {
//   color: $color-black
// }

// .c-grey-dark {
//   color: $color-grey-dark
// }

// .f-black {
//   fill: $color-black
// }

// .f-grey-mid {
//   fill: $color-grey-mid
// }

// .f-grey-dark {
//   fill: $color-grey-dark
// }
