

.d-block {
  display: block
}

.d-inline-block {
  display: inline-block
}

.d-flex {
  display: flex
}

.d-table {
  display: table
}

// flexbox
.bp-justify {
  box-pack: justify
}

.jc-space-between {
  justify-content: space-between
}

.ai-center {
  align-items: center
}

.fg-1 {
  flex-grow: 1
}
