/**
 * Layouts
 */

// Dependencies
// @import '...';

// Declarations
.layout {
  position: relative;
  height: calc(100vh - 90px);
  overflow: hidden;
}

.layout__body {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.layout__body:after {
  content: '';
  height: 100%;
  display: block;
}

@media print {

  .layout {
    height: auto;
    overflow: visible;
  }

  .layout__body {
    position: static;
  }

}
