.show-print-only {
  display: none;
}

@mixin print-styles {
  html, body {
    overflow: visible !important;
  }

  .page-wrapper {
    display: block;
  }

  .nav-active::before,
  .hide-for-print,
  .text-controller,
  .site-nav-toggle,
  .site-mobile-nav,
  .site-desktop-nav,
  .site-search-toggle,
  .footer-nav,
  .save-your-results {
    display: none;
  }

  .program-detail-help {
    border: 0;
    margin: 0;
    padding: 0;
  }

  .show-print-only {
    display: block;
  }

  .program-detail-what-you-need-to-include {
    page-break-inside: avoid;
  }

  .program-landing-body .content-body,
  .program-detail-body .content-body {
    width: auto;
  }

  .program-detail-step {
    height: auto;
    margin-bottom: 2* $spacing-base;
    opacity: 1;
  }

  .program-detail-what-you-need-to-include-body {
    display: inline;
    max-height: none;
  }

  .program-detail-what-you-need-to-include-padding {
    display: inline;

    > * {
      margin-left: $spacing-base;
      margin-right: $spacing-base;
    }
  }

  * {
    -webkit-print-color-adjust: exact;
  }

  .location-header {
    margin-top: 0;
  }

  .location-map {
    height: auto;
  }
}

.print-view {
  @include print-styles();
}

@media print {
  @include print-styles();
}
