/**
 * Toggles
 * Reusable classes for hidden/active elements utilized by components that are
 * toggled with the Utility.simpleToggle javascript function.
 */

// Dependencies
@import 'variables';

// Declarations
[data-css-text]:before {
  content: attr(data-css-text)
}

.active > [data-css-active-text]:before {
  content: attr(data-css-active-text)
}

.hidden-by-overflow {
  display: inherit !important;
  overflow: hidden;
}

.hidden.hidden-by-overflow {
  max-height: 0;
}

.active.hidden-by-overflow {
  max-height: 10000px;
}

.animated.hidden-by-overflow {
  transition-property: max-height;
}

.animated.hidden.hidden-by-overflow {
  transition-duration: 0.5s;
  transition-timing-function: $ease-out-quint;
}

.animated.active.hidden-by-overflow {
  transition-duration: 0.75s;
  transition-timing-function: $ease-in-quint;
}

// .no-js - not sure if this is needed

@media print {

  .active-for-print {
    display: inherit !important;
  }

  .active-for-print.hidden-by-overflow {
    max-height: inherit !important;
    overflow: visible !important;
  }

}
