/**
* Utility classes
*/

.f-left {
  float: left
}

.m-0 {
  margin: 0
}

.c-black {
  color: $color-black
}

.c-grey-dark {
  color: $color-grey-dark
}

.f-black {
  fill: $color-black
}

.f-grey-mid {
  fill: $color-grey-mid
}

.f-grey-dark {
  fill: $color-grey-dark
}

.sr-only {
  @include sr-only();
}

.sr-only-focusable {
  @include sr-only-focusable();
}

.hidden {
  display: none !important;
}

/**
 * Localization classes.
 */
.force-ltr {
  direction: ltr !important;
  display: inline-block;
}

/**
* Wordpress image alignment
*/
.alignright {
  float: none;

  @include media($bp-tablet-up) {
    float: $text-direction-end;
  }
}

.alignleft {
  float: none;

  @include media($bp-tablet-up) {
    float: $text-direction-start;
  }
}

.aligncenter {
  margin: 0 auto;
  max-width: 100%;
}
