/**
* Utility classes
*/

.f-left {
  float: left
}

.m-0 {
  margin: 0
}

.sr-only {
  @include sr-only();
}

.sr-only-focusable {
  @include sr-only-focusable();
}

.hidden {
  display: none !important;
}

/**
 * Localization classes.
 */
.force-ltr {
  direction: ltr !important;
  display: inline-block;
}

/**
* Wordpress image alignment
*/
.alignright {
  float: none;

  @include media($bp-tablet-up) {
    float: $text-direction-end;
  }
}

.alignleft {
  float: none;

  @include media($bp-tablet-up) {
    float: $text-direction-start;
  }
}

.aligncenter {
  margin: 0 auto;
  max-width: 100%;
}
