/**
 * Text
 */

// Dependencies
// @import ...;

// Declarations
.ta-center {
  text-align: center !important
}

.ta-left {
  text-align: left !important
}

.ta-right {
  text-align: right !important
}

.tt-uppercase {
  text-transform: uppercase !important
}

.tt-none {
  text-transform: none !important
}

.td-none {
  text-decoration: none !important
}

.ws-nowrap {
  white-space: nowrap
}