# NYCO Config File #
####################
/wp-content/mu-plugins/config/config.yml

# Composer #
############
/vendor/*
!/vendor/autoload.php

# Add packages that need to be shipped with the source here with !
!/vendor/altorouter
!/vendor/asm89
!/vendor/aws
!/vendor/composer
!/vendor/doctrine
!/vendor/guzzlehttp
!/vendor/illuminate
!/vendor/mtdowling
!/vendor/mustangostang
!/vendor/nesbot
!/vendor/psr
!/vendor/ralouphie
!/vendor/soundasleep
!/vendor/symfony
!/vendor/timber
!/vendor/twig
!/vendor/twilio
!/vendor/upstatement
!/vendor/sleiman
!/vendor/davedevelopment/stiphle
!/vendor/davedevelopment
# WordPress #
############
/.htaccess
/robots.txt
/wp-config.php
/wp-content/uploads/
# !/wp-content/uploads/wpallimport/functions.php
/wp-content/blogs.dir/
/wp-content/upgrade/*
/wp-content/backup-db/*
/wp-content/backups/
/wp-content/advanced-cache.php
/wp-content/wp-cache-config.php
/wp-content/cache/*
/wp-content/cache/supercache/*
/wp-content/wpallimport/*

# Translations
###########
/wp-content/languages/wpml/*

# Plugins #
###########
/wp-content/plugins/akismet/
/wp-content/plugins/akismet/*
/wp-content/themes/*twenty*/
/wp-content/themes/*twenty*/*
/wp-content/plugins/hello.php
/wp-content/plugins/wp-auto-login/*

# WP-Engine Specific #
######################
.smushit-status
.gitattributes
/_wpeprivate
/wp-content/object-cache.php
/wp-content/mu-plugins/mu-plugin.php
/wp-content/mu-plugins/slt-force-strong-passwords.php
/wp-content/mu-plugins/limit-login-attempts
/wp-content/mu-plugins/wpengine-common
/wp-content/mysql.sql

# ACCESS Theme #
################
/wp-content/themes/access/assets/js/*.development.js
/wp-content/themes/access/assets/**/*.map
/wp-content/themes/access/testing.php

# ENV Files #
#############
.env

# Certs #
#########
*.pem
!/wp-content/mu-plugins/wp-stat-collector/ca.pem

# Packages #
############
*.7z
*.dmg
*.gz
*.bz2
*.iso
*.jar
*.rar
*.tar
*.zip
*.tgz

# Logs and databases #
######################
*.log
*.sql

# OS generated files #
######################
.DS_Store*
ehthumbs.db
Thumbs.db
._*

# Other #
#########
.idea
sitemap.xml
sitemap.xml.gz
/info.php
/wpscan.yml
TODO.md

# Vim generated files #
######################
*.un~

# SASS #
########
.sass-cache

# npm #
#######
node_modules

# Large/disallowed filetypes #
# See https://wpengine.com/git/#toc_4
##############################
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
