@charset 'utf-8';

$cdn: '../../assets/';
$path-to-images: 'img/';

/************************
 * Custom Properties
 ************************/

@import '@nycopportunity/pattern-modal/src/tokens';
@import '@nycopportunity/pattern-attribution/src/tokens';

/************************
 * Font Face Declaration
 ************************/

@import '@nycopportunity/access-patterns/src/elements/fonts/fonts';

/************************
 * External Dependencies
 ************************/

@import 'bourbon/app/assets/stylesheets/bourbon-deprecate';
@import 'bourbon/app/assets/stylesheets/settings/deprecation-warnings';
@import 'bourbon/app/assets/stylesheets/settings/asset-pipeline';
@import 'bourbon/app/assets/stylesheets/helpers/directional-values';
@import 'animate.scss/vendor/assets/stylesheets/animate/fadeIn';
@import 'animate.scss/vendor/assets/stylesheets/animate/fadeInUp';
@import 'animate.scss/vendor/assets/stylesheets/animate/fadeInUpBig';

/**********
 * Elements
 ***********/

@import '@nycopportunity/access-patterns/src/elements/base/base';
@import '@nycopportunity/access-patterns/src/elements/badge/badge';
@import '@nycopportunity/access-patterns/src/elements/buttons/buttons';
@import '@nycopportunity/access-patterns/src/elements/code/code';
@import '@nycopportunity/access-patterns/src/elements/layouts/layouts';
@import '@nycopportunity/access-patterns/src/elements/links/links';
@import '@nycopportunity/access-patterns/src/elements/nav/nav';
@import '@nycopportunity/access-patterns/src/elements/overlay/overlay';
@import '@nycopportunity/access-patterns/src/elements/forms/forms';
@import '@nycopportunity/access-patterns/src/elements/labels/labels';
@import '@nycopportunity/access-patterns/src/elements/icons/icons';
@import '@nycopportunity/access-patterns/src/elements/spinner/spinner';
@import '@nycopportunity/access-patterns/src/elements/checkboxes/checkboxes';
@import '@nycopportunity/access-patterns/src/elements/radios/radios';
@import '@nycopportunity/access-patterns/src/elements/toggles/toggles';
@import '@nycopportunity/access-patterns/src/elements/selects/selects';
@import '@nycopportunity/access-patterns/src/elements/tables/tables';
@import '@nycopportunity/access-patterns/src/elements/tooltips/tooltips';
@import '@nycopportunity/access-patterns/src/elements/divider/divider';
@import '@nycopportunity/access-patterns/src/elements/inputs/inputs';
@import '@nycopportunity/access-patterns/src/elements/lists/lists';

/*************
 * Components
 *************/

@import '@nycopportunity/access-patterns/src/components/accordion/accordion';
@import '@nycopportunity/access-patterns/src/components/alert-box/alert-box';
@import '@nycopportunity/access-patterns/src/components/card/card';
@import '@nycopportunity/access-patterns/src/components/checklist/checklist';
@import '@nycopportunity/access-patterns/src/components/disclaimer/disclaimer';
@import '@nycopportunity/access-patterns/src/components/filter/filter';
@import '@nycopportunity/access-patterns/src/components/filter/filter-multi';
@import '@nycopportunity/access-patterns/src/components/header/header';
@import '@nycopportunity/access-patterns/src/components/side-nav/side-nav';
@import '@nycopportunity/access-patterns/src/components/share-links/share-links';
@import '@nycopportunity/access-patterns/src/components/question/question';
@import '@nycopportunity/access-patterns/src/components/share-form/share-form';
@import '@nycopportunity/access-patterns/src/components/member-list/member-list';
@import '@nycopportunity/access-patterns/src/components/nearby-stops/nearby-stops';
@import '@nycopportunity/access-patterns/src/components/web-share/web-share';

/**********
 * Objects
 **********/

@import '@nycopportunity/access-patterns/src/objects/alert-banner/alert-banner';
@import '@nycopportunity/access-patterns/src/objects/banner/banner';
@import '@nycopportunity/access-patterns/src/objects/content/content';
@import '@nycopportunity/access-patterns/src/objects/footer/footer';
@import '@nycopportunity/access-patterns/src/objects/navigation/navigation';
@import '@nycopportunity/access-patterns/src/objects/mobile-nav/mobile-nav';
@import '@nycopportunity/access-patterns/src/objects/search-box/search-box';
@import '@nycopportunity/access-patterns/src/objects/text-controller/text-controller';
@import '@nycopportunity/pattern-modal/src/modal';
@import '@nycopportunity/pattern-attribution/src/attribution';

/***********
 * Utilities
 ************/

@import '@nycopportunity/access-patterns/src/utilities/animate/animate';
@import '@nycopportunity/access-patterns/src/utilities/color/color';
@import '@nycopportunity/access-patterns/src/utilities/font/font';
@import '@nycopportunity/access-patterns/src/utilities/language/language';
@import '@nycopportunity/access-patterns/src/utilities/margin/margin';
@import '@nycopportunity/access-patterns/src/utilities/media/media-print';
@import '@nycopportunity/access-patterns/src/utilities/padding/padding';
@import '@nycopportunity/access-patterns/src/utilities/statuses/statuses';
@import '@nycopportunity/access-patterns/dist/styles/_tailwindcss.scss';
@import '@nycopportunity/access-patterns/src/utilities/text/text';
@import '@nycopportunity/access-patterns/src/utilities/toggle/toggle';
@import '@nycopportunity/access-patterns/src/utilities/typography/typography';

.outline-none {
  outline: none;
}
