// Urdu version.
$language: 'ur';

@import 'imports';

html {
    line-height: 2;
}

.jumbo, .type-jumbo, .typography-jumbo {
    line-height: 2;
}

.c-header__descriptor, h1, .h1, .type-h1, .typography-h1 {
    line-height: 2;
}

h2, .h2, .type-h2, .typography-h2{
    line-height: 2;
}

h3, .h3, .type-h3, .typography-h3 {
    line-height: 2;
}

.c-card__title, h4, .h4, .type-h4, .typography-h4 {
    line-height: 2;
}

.btn, [class*='btn-'],
.button, [class*='button-'] {
    line-height: 2;
}

h5, .h5, .type-h5, .typography-h5 {
    line-height: 2;
}

.exposition, .type-exposition, .typography-exposition{
    line-height: 2;
}

.c-card__subtitle {
    line-height: 2;
}

.c-disclaimer-instruction, .c-header__information, .supplemental, .type-supplemental, .typography-supplemental {
    line-height: 2;
}

.c-share, .c-share__section, .c-side-nav, .nav-inline, .nav-block, .o-footer__nav-list, .o-mobile-nav__close, .o-navigation__toggle, .o-navigation__search-toggle {
    line-height: 2;
}

blockquote, .blockquote, .type-blockquote, .typography-blockquote {
    line-height: 2;
}

.c-alert-banner, small, .small .type-small, .typography-small{
    line-height: 2;
}

.o-content{
    line-height: 2;
}

.checkbox__label, .radio__label{
    line-height: 2;
}

@media print {
    html {
        line-height: 2;
    }
}
