.program-gallery-title {
  margin-bottom: 0;

  + .program-gallery-touts {
    margin-top: $spacing-base;
  }
}

.program-gallery-subtitle {
  @include typography-supplemental;
  margin-bottom: 0;

  + .program-gallery-touts {
    margin-top: $spacing-base;
  }
}

.program-gallery-touts {
  @include media($bp-tablet-up) {

    $cards-per-row: 2;

    display: flex;

    flex-wrap: wrap;

    .program-card {

      width: calc(#{percentage(1/$cards-per-row)} - #{$spacing-base/$cards-per-row});
      margin-#{$text-direction-end}: $spacing-base;

      &:nth-child(#{$cards-per-row}n) {
        margin-#{$text-direction-end}: 0;
      }

    }

  }
}
