.program-detail-title {
  @include media($bp-mobile-up) {
    align-items: flex-start;
    display: flex;
  }
  margin-bottom: $spacing-base / 2;
}

.program-detail-subtitle {
  @include typography-base;
}

.program-landing-body,
.program-detail-body {
  aside {
    @include media($bp-desktop-up) {
      @include span-columns(3);
    }
  }

  .content-body {
    @include media($bp-desktop-up) {
      @include span-columns(9);
      @include omega();
    }
  }
}

.program-cards {
  @include full-width-home-margins;
  background: $color-grey-lightest;
  margin-bottom: $spacing-base;
  padding: $spacing-base;

  > :last-child {
    margin-bottom: 0;
  }
}

.program-card {
  background: $color-white;
  margin-bottom: $spacing-base;
  padding: $spacing-base;

  @include media($bp-mobile-up) {
    align-items: flex-start;
    display: flex;
    padding: 1.5*$spacing-base;
  }
}

.program-card-title {
  margin-bottom: 0;

  .program-label {
    display: none;

    @include media($bp-mobile-up) {
      display: inline-block;
    }
  }
}

.program-card-summary {
  :last-child {
    margin-bottom: 0;
  }
}

.program-pagination {
  text-align: $text-direction-end;

  .btn {
    margin-#{$text-direction-start}: .5*$spacing-base;
  }
}

.program-no-results {
  @include typography-blockquote();

  :last-child {
    margin-bottom: 0;
  }
}

.program-icon {
  $icon-height: 50px;
  $icon-width: 50px;
  margin-bottom: $spacing-base;

  .icon {
    @include size($icon-width $icon-height);
    display: inline-block;
    vertical-align: middle;
  }

  @include media($bp-mobile-up) {
    margin-#{$text-direction-end}: $spacing-base;
    min-width: $icon-width; // Fixes an iOS 9 flexbox bug.
    width: $icon-width;

    .program-label {
      display: none;
    }
  }
}
