$icon-size: 55px;

.screener-results-header {
  background: $color-blue-dark;
  color: $color-white;
  margin-bottom: $spacing-base * 2;
  padding: $spacing-base;

  p {
    font-size: $font-size-small;
    margin-bottom: 0;
  }


  @include media ($bp-mobile-up) {
    @include align-items(flex-top);
    display: flex;
    @include flex-direction(row);

    .screener-results-text {
      @include flex(1 1 auto);
    }
  }
}

.screener-results-heading {
  color: $color-white;
  margin-bottom: $spacing-base / 2;
}

.screener-results-icon {
  padding-#{$text-direction-end}: $spacing-base;
  padding-top: .3em;

  .icon {
    @include size($icon-size);
    background: $color-white;
    border-radius: 50%;
  }

  use {
    fill: $color-green;
  }
}

.save-your-results {
  > .btn {
    display: block;
    margin-bottom: $spacing-base;
  }
}

.screener-qualified-programs {
  margin-top: $spacing-base * 2;
}
