.share-toggle {
  &.active {
    @include border-bottom-radius(0);
    background: $color-blue-dark;
    margin-bottom: -1px;
    position: relative;
    z-index: 1;

    &::after {
      @if $text-direction == 'rtl' {
        @include position(absolute, null null (.3 * -$spacing-base) 34px);
      } @else {
        @include position(absolute, null 34px (.3 * -$spacing-base) null);
      }
      @include triangle($spacing-base (.3 * $spacing-base), $color-blue-dark, down);
      content: '';
      display: block;
      z-index: 0;
    }
  }
}

.share-form {
  .program-detail-status-buttons & {
    margin-bottom: $spacing-base;
  }

  .error-message {
    color: $color-red;
    font-size: $font-size-small;
    margin-top: (.5 * $spacing-base);
    width: 100%;
  }

  .success-message {
    color: $color-green-mid;
    display: none;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
  }

  .success {
    .success-message {
      display: block;
      padding: (.75 * $spacing-base);
    }
  }

  &.active {
    margin-bottom: $spacing-base;
  }
}

.share-form-controls {
  align-items: center;
  display: flex;
  background: $color-white;
  border: 1px solid $color-grey-mid;
  // padding-#{$text-direction-end}: .5 * $spacing-base;

  .error & {
    border-color: $color-red;
  }

  input {
    flex-grow: 1;
    border: none;
    min-width: 0px;
    width: 100%;
    text-overflow: ellipsis;
    padding-#{$text-direction-end}: 0;
  }

  .btn-submit {
    margin: 0;
    padding: (.75 * $spacing-base);

    .success & {
      display: none;
    }
  }
}

.share-form-controls__right {
  flex: 0 0 69.89px;
  padding: 0 10px;
}

// .share-form__spinner {
//   flex: 0 0 69.89px; // same width as send button
// }
