.site-header {
  background: $color-blue-dark;
  margin: 0;
  padding: 0;
  position: relative;
}

.site-topline {
  display: flex;
  justify-content: space-between;
  background: $color-grey-lightest;
  padding: (.5 * $spacing-base) $spacing-base;

  .logo-nyc {
    white-space: nowrap;
  }

  .logo-nyc-tag {
    display: none;

    @include media($bp-desktop-up) {
      color: $color-grey-mid;
      display: inline-block;
      font-size: 12px; // TODO(jjandoc): Variable?
      margin-#{$text-direction-start}: .5em;
    }
  }
}

.text-controller {
  font-size: 18px; // TODO(jjandoc): Variable?
  text-align: $text-direction-end;

  .icon,
  .text-controller-title-full,
  .text-controller-title-short {
    font-style: italic;
    vertical-align: middle;
  }
}

.text-controller-toggle {
  .icon {
    margin-#{$text-direction-end}: .3em;
  }
}

.text-controller-title-full {
  display: none;

  @include media($bp-desktop-up) {
    display: inline-block;
  }
}

.text-controller-title-short {
  display: inline-block;

  @include media($bp-desktop-up) {
    display: none;
  }
}

.text-controller-languages,
.wpml-ls {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    @if $text-direction == 'rtl' {
      margin: 0 1em 0 0;
    } @else {
      margin: 0 0 0 1em;
    }
    display: inline-block;
    padding: 0;
  }
}

.wpml-ls {
  ul {
    display: inline;
  }
}

.text-controller-sizer {
  display: none;

  @include media($bp-desktop-up) {
    color: $color-grey-mid;
    display: inline-block;
    margin-#{$text-direction-start}: 1em;

    .btn-text {
      color: $color-blue-dark;
    }

    button:disabled {
      color: $color-grey-light;
    }
  }

  .icon {
    margin-#{$text-direction-start}: .3em;
  }
}

.site-nav {
  align-items: center;
  display: flex;
  background: $color-blue-dark;
  color: $color-white;
  padding: (.5 * $spacing-base) $spacing-base;

  .logo-access {
    a {
      color: $color-white;
    }

    .icon-logo-full {
      @include size(135px 23px);
      display: block;

      @include media($bp-desktop-up) {
        .home & {
          @include size(270px 45px);
        }
      }
    }
  }

  .nav-list {
    @include typography-nav();
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .site-desktop-nav {
    flex: 1 1 auto;
    display: none;
    text-align: $text-direction-end;

    @include media($bp-desktop-up) {
      display: block;
    }

    li {
      display: inline-block;
      margin-#{$text-direction-start}: 1em;
    }
  }
}

.site-desktop-nav {
  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $color-white;
    }
  }
}

.site-nav-toggle,
.site-search-toggle {
  @include typography-nav();
  margin-#{$text-direction-start}: 1em;

  a {
    color: $color-white;
    text-decoration: none;
  }

  svg {
    fill: currentColor;
  }

  .icon {
    margin-#{$text-direction-end}: .3em;
  }
}

.site-nav-toggle {
  flex: 1 1 auto;
  text-align: $text-direction-end;

  @include media($bp-desktop-up) {
    display: none;
  }
}

.site-mobile-nav {
  transform: translateX(0);
  transition: transform .2s ease-in;
  @if $text-direction == 'rtl' {
    @include position(fixed, 0 null 0 -300px);
    padding: $spacing-base $spacing-base $spacing-base 0;
  } @else {
    @include position(fixed, 0 -300px 0 null);
    padding: $spacing-base 0 $spacing-base $spacing-base;
  }
  background: $color-grey-lightest;
  color: $color-grey-dark;
  display: block;
  width: 300px;
  z-index: 10;

  @include media($bp-desktop-up) {
    display: none;
  }

  a {
    &.site-nav-close {
      color: $color-blue-dark;
      margin-#{$text-direction-end}: $spacing-base;
      margin-bottom: $spacing-base;
      text-decoration: none;

      .icon {
        margin-#{$text-direction-start}: .3em;
        vertical-align: middle;
      }
    }
  }

  .nav-active & {
    @if $text-direction == 'rtl' {
      transform: translateX(100%)
    } @else {
      transform: translateX(-100%)
    }
  }

  .nav-list {
    li {
      border-bottom: 1px solid $color-grey-dark;
      padding: $spacing-base 0;
    }
  }

  .site-search-toggle {
    border-bottom: 1px solid $color-grey-dark;
    margin-left: 0;
    padding: $spacing-base 0;

    a {
      color: $color-blue;
      text-decoration: underline;

      svg {
        text-decoration: none;
      }

      &:hover,
      &:active,
      &:focus {
        color: $color-blue-dark;
      }
    }
  }
}

.nav-list {
  .active {
    font-weight: $font-weight-bold;
  }
}

.nav-active {
  overflow: hidden;

  &::before {
    @include position(absolute, 0 0 0 0);
    background: $color-black;
    content: '';
    display: block;
    opacity: .6;
    z-index: 9;

    @include media($bp-desktop-up) {
      display: none;
    }
  }
}

.site-mobile-nav-inner {
  @if $text-direction == 'rtl' {
    padding: $spacing-base 0 2*$spacing-base $spacing-base;
  } @else {
    padding: $spacing-base $spacing-base 2*$spacing-base 0;
  }
  height: 100%;
  overflow-y: scroll;

  .site-mobile-nav-header {
    margin-bottom: 0;
  }
}

.site-nav-close {
  @include typography-nav();
  display: block;
  font-style: italic;
  text-align: $text-direction-end;

  @include media($bp-desktop-up) {
    display: none;
  }
}

// ====================================
// WPML Language Switcher Styles
// ====================================


// Hides the current language translation in the language switcher
.wpml-ls-current-language,
.wpml-ls-display {
  @include sr-only();
}
