<section id="determine-your-eligibility" data-step="determine-your-eligibility" class="outline-none active hidden:overflow print:active w-full" aria-hidden="false">
  <header>
    <h3>{{ __('Determine your eligibility', 'accessnyc-program-detail') }}</h3>
  </header>

  {% if post.plain_language_eligibility | length %}
    <div>
      <div class="o-content mb-4">
        {{ post.get_field('field_58912c1a8a82d')|add_ul_margin|add_anyc_table_numeric }} {# plain_language_eligibility #}
      </div>
    </div>
  {% endif %}

  {% if post.immigration_eligibility | length %}
    <div>
      <h4>{{ __('Immigration status requirements', 'accessnyc-program-detail') }}</h3>
      <div class="o-content mb-4">
        {{ post.get_field('field_67884637728d7')|add_ul_margin }} {# immigration eligibility #}
      </div>
    </div>
  {% endif %}
</section>
