<div class="o-attribution">
  <div class="o-attribution__copyrite">
    <p>
      <svg class="icon" width="41" height="15">
        <use xlink:href="#icon-logo-nyc"></use>
      </svg>

      {{ __('City of New York,', 'accessnyctheme') ~ ' ' ~ 'now' | date('Y') ~ ' ' ~ __('All Rights Reserved.', 'accessnyctheme') }}
    </p>

    <p>
      {{ __('NYC is a trademark and service mark of the City of New York.', 'accessnyctheme') }}
    </p>
  </div>

  <nav>
    <a href="http://www1.nyc.gov/home/privacy-policy.page">{{ __('Privacy Policy', 'accessnyctheme') }}</a>

    <a href="http://www1.nyc.gov/home/terms-of-use.page">{{ __('Terms of Use', 'accessnyctheme') }}</a>
  </nav>
</div>