<div class="border-2 border-grey-lightest overflow-auto scrolling-touch mb-3">
  <figure style="min-width: 1600px; height: 80vh">
    <table class="text-xsmall table-fixed table-headers-center table-body-center table-headers-first-column screen-tablet:table-headers-sticky m-0">
      <caption class="sr-only">I've been affected by Coronavirus (COVID-19). What Benefits might I be eligible for? Last Updated April 10th, 2020.</caption>
      <thead>
        <tr>
          <th id="scenario" rowspan="2" width="300">
            <div aria-hidden="true" class="flex justify-between items-center px-4">
              <div>
                <span class="sr-only">You are eligible</span>
                <svg aria-hidden="true" class="icon-ui icon-4 text-green">
                  <use xlink:href="#icon-ui-check"></use>
                </svg>
                <div>Yes</div>
              </div>
              <div>
                <span class="sr-only">Eligibility is determined case-by-case</span>
                <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
                  <use xlink:href="#icon-circle"></use>
                </svg>
                <div>Case-by-case</div>
              </div>
              <div>
                <span class="sr-only">You are not eligible or it is to be determined</span>
                <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
                  <use xlink:href="#icon-ui-more-horizontal"></use>
                </svg>
                <div>No/TBD</div>
              </div>
            </div>
          </th>
          <th id="b1a">City
            <br>Paid Safe and Sick Leave
          </th>
          <th id="b1b">State
            <br>Paid Safe and Sick Leave
          </th>
          <th id="b1c">Federal
            <br>Paid Safe and Sick Leave
          </th>
          <th id="b2" rowspan="2">NYS Unemployment Insurance</th>
          <th id="b3" rowspan="2">Supplemental Nutrition Assistance Program or SNAP</th>
          <th id="b4" rowspan="2">Medicaid</th>
          <th id="b5" rowspan="2">Health Insurance</th>
          <th id="b6" rowspan="2">Disability Insurance</th>
          <th id="b7" rowspan="2">Cash</th>
          <th id="b8" rowspan="2">Pandemic Unemployment Compensation</th>
          <th id="b9" rowspan="2">Pandemic Unemployment Assistance</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="text-start text-black" id="s1">
            <div class="flex items-center">
              <svg aria-hidden="true" class="icon-5 me-1">
                <use xlink:href="#icon-covid-clock"></use>
              </svg>My work hours were reduced.
            </div>
          </th>
          <td headers="s1 b1a">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s1 b1b">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s1 b1c">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s1 b2">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s1 b3">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s1 b4">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s1 b5">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s1 b6">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s1 b7">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s1 b8">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s1 b9">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
        </tr>
        <tr>
          <th class="text-start text-black" id="s2">
            <div class="flex items-center">
              <svg aria-hidden="true" class="icon-5 me-1">
                <use xlink:href="#icon-covid-closed"></use>
              </svg>I was laid off due to an employer shutdown.
            </div>
          </th>
          <td headers="s2 b1a">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s2 b1b">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s2 b1c">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s2 b2">
            <span class="sr-only">You are eligible</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-green">
              <use xlink:href="#icon-ui-check"></use>
            </svg>
          </td>
          <td headers="s2 b3">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s2 b4">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s2 b5">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s2 b6">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s2 b7">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s2 b8">
            <span class="sr-only">You are eligible</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-green">
              <use xlink:href="#icon-ui-check"></use>
            </svg>
          </td>
          <td headers="s2 b9">
            <span class="sr-only">You are eligible</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-green">
              <use xlink:href="#icon-ui-check"></use>
            </svg>
          </td>
        </tr>
        <tr>
          <th class="text-start text-black" id="s3">
            <div class="flex items-center">
              <svg aria-hidden="true" class="icon-5 me-1">
                <use xlink:href="#icon-covid-mask"></use>
              </svg>I am ill with COVID-19 symptoms
            </div>
          </th>
          <td headers="s3 b1a">
            <span class="sr-only">You are eligible</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-green">
              <use xlink:href="#icon-ui-check"></use>
            </svg>
          </td>
          <td headers="s3 b1b">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s3 b1c">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s3 b2">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s3 b3">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s3 b4">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s3 b5">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s3 b6">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s3 b7">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s3 b8">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s3 b9">
            <span class="sr-only">You are eligible</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-green">
              <use xlink:href="#icon-ui-check"></use>
            </svg>
          </td>
        </tr>
        <tr>
          <th class="text-start text-black" id="s4">
            <div class="flex items-center">
              <svg aria-hidden="true" class="icon-5 me-1">
                <use xlink:href="#icon-covid-healthcare-ems"></use>
              </svg>I am a health care worker or first responder and I am under quarantine.
            </div>
          </th>
          <td headers="s4 b1a">
            <span class="sr-only">You are eligible</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-green">
              <use xlink:href="#icon-ui-check"></use>
            </svg>
          </td>
          <td headers="s4 b1b">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s4 b1c">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s4 b2">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s4 b3">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s4 b4">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s4 b5">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s4 b6">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s4 b7">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s4 b8">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s4 b9">
            <span class="sr-only">You are eligible</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-green">
              <use xlink:href="#icon-ui-check"></use>
            </svg>
          </td>
        </tr>
        <tr>
          <th class="text-start text-black" id="s5">
            <div class="flex items-center">
              <svg aria-hidden="true" class="icon-5 me-1">
                <use xlink:href="#icon-covid-virus"></use>
              </svg>I was exposed to COVID-19 and quarantined. My workplace remains open.
            </div>
          </th>
          <td headers="s5 b1a">
            <span class="sr-only">You are eligible</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-green">
              <use xlink:href="#icon-ui-check"></use>
            </svg>
          </td>
          <td headers="s5 b1b">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s5 b1c">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s5 b2">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s5 b3">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s5 b4">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s5 b5">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s5 b6">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s5 b7">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s5 b8">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s5 b9">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
        </tr>
        <tr>
          <th class="text-start text-black" id="s6">
            <div class="flex items-center">
              <svg aria-hidden="true" class="icon-5 me-1">
                <use xlink:href="#icon-covid-care"></use>
              </svg>I am caring for a relative with COVID-19 symptoms.
            </div>
          </th>
          <td headers="s6 b1a">
            <span class="sr-only">You are eligible</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-green">
              <use xlink:href="#icon-ui-check"></use>
            </svg>
          </td>
          <td headers="s6 b1b">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s6 b1c">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s6 b2">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s6 b3">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s6 b4">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s6 b5">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s6 b6">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s6 b7">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s6 b8">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s6 b9">
            <span class="sr-only">You are eligible</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-green">
              <use xlink:href="#icon-ui-check"></use>
            </svg>
          </td>
        </tr>
        <tr>
          <th class="text-start text-black" id="s7">
            <div class="flex items-center">
              <svg aria-hidden="true" class="icon-5 me-1">
                <use xlink:href="#icon-covid-shut-down"></use>
              </svg>My employer was shut down by a public official because of COVID-19.
            </div>
          </th>
          <td headers="s7 b1a">
            <span class="sr-only">You are eligible</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-green">
              <use xlink:href="#icon-ui-check"></use>
            </svg>
          </td>
          <td headers="s7 b1b">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s7 b1c">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s7 b2">
            <span class="sr-only">You are eligible</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-green">
              <use xlink:href="#icon-ui-check"></use>
            </svg>
          </td>
          <td headers="s7 b3">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s7 b4">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s7 b5">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s7 b6">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s7 b7">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s7 b8">
            <span class="sr-only">You are eligible</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-green">
              <use xlink:href="#icon-ui-check"></use>
            </svg>
          </td>
          <td headers="s7 b9">
            <span class="sr-only">You are eligible</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-green">
              <use xlink:href="#icon-ui-check"></use>
            </svg>
          </td>
        </tr>
        <tr>
          <th class="text-start text-black" id="s8">
            <div class="flex items-center">
              <svg aria-hidden="true" class="icon-5 me-1">
                <use xlink:href="#icon-covid-childcare"></use>
              </svg>I have no childcare and schools are closed by a public official because of COVID-19.
            </div>
          </th>
          <td headers="s8 b1a">
            <span class="sr-only">You are eligible</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-green">
              <use xlink:href="#icon-ui-check"></use>
            </svg>
          </td>
          <td headers="s8 b1b">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s8 b1c">
            <span class="sr-only">You are eligible</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-green">
              <use xlink:href="#icon-ui-check"></use>
            </svg>
          </td>
          <td headers="s8 b2">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s8 b3">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s8 b4">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s8 b5">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s8 b6">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s8 b7">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s8 b8">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s8 b9">
            <span class="sr-only">You are eligible</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-green">
              <use xlink:href="#icon-ui-check"></use>
            </svg>
          </td>
        </tr>
        <tr>
          <th class="text-start text-black" id="s9">
            <div class="flex items-center">
              <svg aria-hidden="true" class="icon-5 me-1">
                <use xlink:href="#icon-covid-house"></use>
              </svg>I am immune-compromised and was advised to self-quarantine.
            </div>
          </th>
          <td headers="s9 b1a">
            <span class="sr-only">You are eligible</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-green">
              <use xlink:href="#icon-ui-check"></use>
            </svg>
          </td>
          <td headers="s9 b1b">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s9 b1c">
            <span class="sr-only">You are eligible</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-green">
              <use xlink:href="#icon-ui-check"></use>
            </svg>
          </td>
          <td headers="s9 b2">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s9 b3">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s9 b4">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s9 b5">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s9 b6">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s9 b7">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s9 b8">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s9 b9">
            <span class="sr-only">You are eligible</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-green">
              <use xlink:href="#icon-ui-check"></use>
            </svg>
          </td>
        </tr>
        <tr>
          <th class="text-start text-black" id="s10">
            <div class="flex items-center">
              <svg aria-hidden="true" class="icon-5 me-1">
                <use xlink:href="#icon-covid-social-distancing"></use>
              </svg>I am avoiding large gatherings and I refuse to go to work.
            </div>
          </th>
          <td headers="s10 b1a">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s10 b1b">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s10 b1c">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s10 b2">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s10 b3">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s10 b4">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s10 b5">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s10 b6">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s10 b7">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s10 b8">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s10 b9">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
        </tr>
        <tr>
          <th class="text-start text-black" id="s11">
            <div class="flex items-center">
              <svg aria-hidden="true" class="icon-5 me-1">
                <use xlink:href="#icon-covid-store"></use>
              </svg>My workplace remains open even though it has not been deemed essential.
            </div>
          </th>
          <td headers="s11 b1a">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s11 b1b">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s11 b1c">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s11 b2">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s11 b3">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s11 b4">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s11 b5">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s11 b6">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s11 b7">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s11 b8">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s11 b9">
            <span class="sr-only">You are eligible</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-green">
              <use xlink:href="#icon-ui-check"></use>
            </svg>
          </td>
        </tr>
        <tr>
          <th class="text-start text-black" id="s12">
            <div class="flex items-center">
              <svg aria-hidden="true" class="icon-5 me-1">
                <use xlink:href="#icon-covid-lost-money"></use>
              </svg>My employer shut down due to a business slowdown or lack of demand.
            </div>
          </th>
          <td headers="s12 b1a">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s12 b1b">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s12 b1c">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s12 b2">
            <span class="sr-only">You are eligible</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-green">
              <use xlink:href="#icon-ui-check"></use>
            </svg>
          </td>
          <td headers="s12 b3">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s12 b4">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s12 b5">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s12 b6">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s12 b7">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s12 b8">
            <span class="sr-only">You are eligible</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-green">
              <use xlink:href="#icon-ui-check"></use>
            </svg>
          </td>
          <td headers="s12 b9">
            <span class="sr-only">You are eligible</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-green">
              <use xlink:href="#icon-ui-check"></use>
            </svg>
          </td>
        </tr>
        <tr>
          <th class="text-start text-black" id="s13">
            <div class="flex items-center">
              <svg aria-hidden="true" class="icon-5 me-1">
                <use xlink:href="#icon-covid-calendar"></use>
              </svg>I have been furloughed for a limited time.
            </div>
          </th>
          <td headers="s13 b1a">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s13 b1b">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s13 b1c">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s13 b2">
            <span class="sr-only">You are eligible</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-green">
              <use xlink:href="#icon-ui-check"></use>
            </svg>
          </td>
          <td headers="s13 b3">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s13 b4">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s13 b5">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s13 b6">
            <span class="sr-only">You are not eligible or it is to be determined</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-grey-mid">
              <use xlink:href="#icon-ui-more-horizontal"></use>
            </svg>
          </td>
          <td headers="s13 b7">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
          <td headers="s13 b8">
            <span class="sr-only">You are eligible</span>
            <svg aria-hidden="true" class="icon-ui icon-4 text-green">
              <use xlink:href="#icon-ui-check"></use>
            </svg>
          </td>
          <td headers="s13 b9">
            <span class="sr-only">Eligibility is determined case-by-case</span>
            <svg aria-hidden="true" class="icon-2 m-1 text-yellow-access">
              <use xlink:href="#icon-circle"></use>
            </svg>
          </td>
        </tr>
      </tbody>
    </table>
  </figure>
</div>