<div>
  <script type="text/javascript" nonce="{{ this.csp_script_nonce }}" src="//nyc.us18.list-manage.com/generate-js/?u={{ this.mailchimp_account }}&fid={{ this.mailchimp_archive_id }}&show={{ this.mailchimp_archive_show }}"></script>

  <style type="text/css">
    .campaign { margin-bottom: 24px; }
  </style>
</div>