<div class="o-text-controller text-align-end print:hidden" data-js="text-controller">
  {% spaceless %}
  <button type="button" class="o-text-controller__control btn-link" aria-controls="aria-c-text-controller__options" aria-expanded="false" data-js="text-controller__control">
    <svg class="icon icon-ui-settings">
      <use xlink:href="#icon-ui-settings"></use>
    </svg>

    <span class="o-text-controller__title-full">Translate &amp; Adjust Text</span>
    <span class="o-text-controller__title-short">Translate Text</span>
  </button>

  {% endspaceless %}
  <div id="aria-c-text-controller__options" class="o-text-controller__options hidden" aria-hidden="true">
    <div class="o-text-controller__languages">
      {% do action('icl_language_selector') %}
    </div>

    <div class="o-text-controller__sizer">
      <em class="o-text-controller__sizer-text">
        {{__('Adjust text size', 'accessnyctheme')}}
      </em>

      <button class="o-text-controller__sizer-btn btn-text" data-js="track,text-larger" data-track-key="Text Sizer" data-track-data='[{"action": "text-size/larger"}]'>
        <svg class="icon icon-ui-plus-circle">
          <use xlink:href="#icon-ui-plus-circle"></use>
        </svg>

        <div class="sr-only">{{__('Larger', 'accessnyctheme')}}</div>
      </button>

      <button class="o-text-controller__sizer-btn btn-text" data-js="track,text-smaller" data-track-key="Text Sizer" data-track-data='[{"action": "text-size/smaller"}]'>
        <svg class="icon icon-ui-minus-circle">
          <use xlink:href="#icon-ui-minus-circle"></use>
        </svg>

        <div class="sr-only">{{__('Smaller', 'accessnyctheme')}}</div>
      </button>
    </div>
  </div>
</div>