$icon-size: 32px;

.alert {
  @include display(flex);
  @include full-width-home-margins;
  background: $color-grey-lightest;
  margin-bottom: $spacing-base;
  padding: $spacing-base;
}

.alert-icon {
  padding-#{$text-direction-end}: $spacing-base;
}

.alert-body {
  @include flex(1 1 auto);

  p:last-child {
    margin-bottom: 0;
  }
}
