.btn {
  appearance: none;
  transition: background .2s ease-in, color .2s ease-in;
  @include typography-h4();
  background: $color-white;
  border: 0;
  border-radius: $btn-radius;
  display: inline-block;
  line-height: 1;
  padding: .75*$spacing-base $spacing-base;
  text-align: center;
  text-decoration: none;

  .icon {
    vertical-align: middle;
  }
}

.btn-primary {
  background: $color-blue;

  &:hover,
  &:focus {
    background: $color-blue-bright;
  }

  &:active {
    background: $color-blue-dark;
  }
}

.btn-secondary {
  background: $color-green-mid;

  &:hover,
  &:focus {
    background: $color-green-dark;
  }

  &:active {
    background: $color-green;
  }
}

.btn-primary,
.btn-secondary {
  color: $color-white;

  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: $color-white;
  }

  &.btn-next {
    &::after {
      @include triangle(.6em .4em, $color-white, $text-direction-end);
      content: '';
      display: inline-block;
      margin-#{$text-direction-start}: .3em;
    }
  }

  &.btn-previous {
    &::before {
      @include triangle(.6em .4em, $color-white, $text-direction-start);
      content: '';
      display: inline-block;
      margin-#{$text-direction-end}: .3em;
    }
  }
}

.btn-tag {
  @include typography-supplemental();
  border-radius: 15px;
  margin: 5px 2px;
  padding: 8px;

  &:first-of-type {
    margin-#{$text-direction-start}: 0;
  }

  &:last-of-type {
    margin-#{$text-direction-end}: 0;
  }
}

.btn-text {
  background: none;
  border: 0;
  border-radius: 0;
  padding: 0;
}

.btn-block {
  display: block;
}

.btn-small {
  font-size: 16px;
}

.btn-toggle {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-radius: 0;
  font-size: $font-size-small;
  padding: $spacing-base;
  text-align: $text-direction-start;
  border-radius: $btn-radius;

  &::after {
    @include position(relative, -.1em null null null);
    @include size(0 0);
    @include triangle(.8em .6em, $color-blue, down);
    content: '';
    display: inline-block;
    margin-#{$text-direction-start}: .5em;
  }

  &.active {
    &::after {
      @include triangle(.8em .6em, $color-blue, up);
      border-top: 0;
    }
  }
}
