a,
.btn-link {
  transition: color .2s ease-in;
  color: $color-blue;
  text-decoration: underline;

  &:link {
    color: $color-blue;
  }

  &:visited {
    color: $color-purple;
  }

  &:hover,
  &:active,
  &:focus {
    color: $color-blue-dark;
  }
}

a {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.link-more {
  &::after {
    @include triangle(.6em .4em, $color-blue-dark, $text-direction-end);
    content: '';
    display: inline-block;
    margin-#{$text-direction-start}: .3em;
  }
}

.link-back {
  &::before {
    @include triangle(.6em .4em, $color-blue-dark, $text-direction-start);
    content: '';
    display: inline-block;
    margin-#{$text-direction-end}: .3em;
  }
}
