.status-success {
  background-color: $color-green-light;
}

.status-info {
  background-color: $color-blue-light;
}

.status-warning {
  background-color: $color-yellow-light;
}

.status-urgent {
  background-color: $color-pink-light;
}
