<% locations.forEach(function(location) { %>
<li class="js-map-location c-card px-2 py-3 mb-0 border-b border-grey-light" data-marker="<%= location.id %>" tabindex="0">
  <div class="c-card__icon m-0">
    <% if (location.isGovtOffice) { %>
    <img src="/wp-content/themes/access/assets/img/map-pin-blue.png" width="33" height="40" alt="Government office map marker">
    <% } else { %>
    <img src="/wp-content/themes/access/assets/img/map-pin-green.png" width="33" height="40" alt="Non-government office map marker">
    <% } %>
  </div>
  <div class="c-card__body">
    <h3 class="type-h4 serif m-0"><%= location.name %></h3>
    <p class="text-small text-grey-mid m-0">
      <% print(location.type) %> |
      <span>
        <span><% print(location.address.street) %></span>
      </span>
    </p>
    <p class="text-small text-grey-mid m-0">
      <% print(location.programs.map(function(program) { return localize(program) }).join(", ")) %>
    </p>
    <a href="<%= location.link %>" class="link-more text-small" target="_blank">{{ __("more about this location", "accessnyc-locations")|trim|escape("js") }}</a>
  </div>
</li>
<% }); %>
