<div class="p-2 flex items-center justify-end">
  <div class="text-small px-2 text-end">
    {{ __("Showing", "accessnyc-locations")|trim|json_encode() }} <%= displayedCount %> {{ __("of", "accessnyc-locations")|trim|escape("js") }} <%= totalCount %>
  </div>
  <% if (displayedCount < totalCount) { %>
  <div>
    <button class="btn btn-secondary btn-next btn-small js-map-more">{{ __("Show more", "accessnyc-locations")|trim|escape("js") }}</button>
  </div>
  <% } %>
</div>