<!doctype html>
<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{ post.title }}</title>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <!--[if !mso]><!-- --><meta content="IE=edge" http-equiv="X-UA-Compatible"><!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body style="background: #ffffff;">
    <h1>{{ post.title }}</h1>

    {{ post.post_content }}
  </body>
</html>