<div class="p-2 flex items-center justify-end">
  <div class="text-font-size-small px-2 text-end">
    {{__('Showing', 'accessnyc-locations')}} <%= displayedCount %> {{__('of', 'accessnyc-locations')}} <%= totalCount %>
  </div>
  <% if (displayedCount < totalCount) { %>
  <div>
    <button class="btn btn-secondary btn-next btn-small js-map-more">{{__('Show more', 'accessnyc-locations')}}</button>
  </div>
  <% } %>
</div>