.content-body {
  table {
    font-size: $font-size-small;
    margin-bottom: $spacing-base * 2;
    max-width: 100%;
    text-align: $text-direction-end;
    @include media($bp-tablet-up) {
      font-size: $font-size-base;
    }
  }

  thead {
    border-bottom: 1px solid $color-grey-dark;
    color: $color-blue;

    tr {
      background-color: none;
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background-color: $color-grey-lightest;
      }
    }
  }

  th {
    vertical-align: top;
  }

  th,
  td {
    padding: $spacing-base * .5;
    @include media($bp-tablet-up) {
      padding: $spacing-base * .5 $spacing-base * 2;
    }
  }
}
