@include font-face(
  'Noto Sans',
  '#{$font-path}/noto-sans/NotoSans',
  normal,
  normal,
  $file-formats: eot woff2 woff ttf
);

@include font-face(
  'Noto Sans',
  '#{$font-path}/noto-sans/NotoSans-Italic',
  normal,
  italic,
  $file-formats: eot woff2 woff ttf
);

@include font-face(
  'Noto Sans',
  '#{$font-path}/noto-sans/NotoSans-Bold',
  bold,
  normal,
  $file-formats: eot woff2 woff ttf
);

@include font-face(
  'Noto Sans',
  '#{$font-path}/noto-sans/NotoSans-BoldItalic',
  bold,
  italic,
  $file-formats: eot woff2 woff ttf
);

@include font-face(
  'Noto Serif',
  '#{$font-path}/noto-serif/NotoSerif',
  normal,
  normal,
  $file-formats: eot woff2 woff ttf
);

@include font-face(
  'Noto Serif',
  '#{$font-path}/noto-serif/NotoSerif-Italic',
  normal,
  italic,
  $file-formats: eot woff2 woff ttf
);

@include font-face(
  'Noto Serif',
  '#{$font-path}/noto-serif/NotoSerif-Bold',
  bold,
  normal,
  $file-formats: eot woff2 woff ttf
);

@include font-face(
  'Noto Serif',
  '#{$font-path}/noto-serif/NotoSerif-BoldItalic',
  bold,
  italic,
  $file-formats: eot woff2 woff ttf
);

$font-family-sans: 'Noto Sans', sans-serif;
$font-family-serif: 'Noto Serif', serif;

// For Korean
@if $language == 'kr' {
  @include font-face(
    'Noto Sans CJK KR',
    '#{$font-path}/noto-cjk-kr/NotoSansCJKkr-Regular',
    normal,
    normal,
    $file-formats: otf
  );
  @include font-face(
    'Noto Sans CJK KR',
    '#{$font-path}/noto-cjk-kr/NotoSansCJKkr-Regular',
    normal,
    italic,
    $file-formats: otf
  );

  @include font-face(
    'Noto Sans CJK KR',
    '#{$font-path}/noto-cjk-kr/NotoSansCJKkr-Bold',
    bold,
    normal,
    $file-formats: otf
  );

  @include font-face(
    'Noto Sans CJK KR',
    '#{$font-path}/noto-cjk-kr/NotoSansCJKkr-Bold',
    bold,
    italic,
    $file-formats: otf
  );

  // TODO(jjandoc): Similar to the Chinese font stack, is there a recommended
  // system font stack I can use here for Korean?
  $font-family-sans: 'Noto Sans', 'Noto Sans CJK KR', sans-serif;
  $font-family-serif: 'Noto Serif', 'Noto Sans CJK KR', serif;
}

// For Chinese
@if $language == 'tc' {
  @include font-face(
    'Noto Sans CJK TC',
    '#{$font-path}/noto-cjk-tc/NotoSansCJKtc-Regular',
    normal,
    normal,
    $file-formats: otf
  );

  @include font-face(
    'Noto Sans CJK TC',
    '#{$font-path}/noto-cjk-tc/NotoSansCJKtc-Regular',
    normal,
    italic,
    $file-formats: otf
  );

  @include font-face(
    'Noto Sans CJK TC',
    '#{$font-path}/noto-cjk-tc/NotoSansCJKtc-Bold',
    bold,
    normal,
    $file-formats: otf
  );

  @include font-face(
    'Noto Sans CJK TC',
    '#{$font-path}/noto-cjk-tc/NotoSansCJKtc-Bold',
    bold,
    italic,
    $file-formats: otf
  );

  // Font stack suggestion taken from: http://www.kendraschaefer.com/2012/06/chinese-standard-web-fonts-the-ultimate-guide-to-css-font-family-declarations-for-web-design-in-simplified-chinese/
  $font-family-sans: 'Noto Sans', 'Noto Sans CJK TC', 'Microsoft Yahei', '微软雅黑', STXihei, '华文细黑', sans-serif;
  $font-family-serif: 'Noto Serif', 'Noto Sans CJK TC', 'Microsoft Yahei', '微软雅黑', STXihei, '华文细黑', serif;
}

// For Arabic
@if $language == 'ar' {
  @include font-face(
    'Noto Naskh Arabic',
    '#{$font-path}/noto-ar/NotoNaskhArabic-Regular',
    normal,
    normal,
    $file-formats: ttf
  );

  @include font-face(
    'Noto Naskh Arabic',
    '#{$font-path}/noto-ar/NotoNaskhArabic-Regular',
    normal,
    italic,
    $file-formats: ttf
  );

  @include font-face(
    'Noto Naskh Arabic',
    '#{$font-path}/noto-ar/NotoNaskhArabic-Bold',
    bold,
    normal,
    $file-formats: ttf
  );

  @include font-face(
    'Noto Naskh Arabic',
    '#{$font-path}/noto-ar/NotoNaskhArabic-Bold',
    bold,
    italic,
    $file-formats: ttf
  );

  // TODO(jjandoc): Similar to the Chinese font stack, is there a recommended
  // system font stack I can use here for Arabic?
  $font-family-sans: 'Noto Sans', 'Noto Naskh Arabic', sans-serif;
  $font-family-serif: 'Noto Serif', 'Noto Naskh Arabic', serif;
}
