{% extends "base.twig" %}

{% block content %}
  <main class="main-content" id="content">
    <article class="content-article">
      <div class="usa-grid">
        <header class="content-header usa-width-one-whole">
          <h1>404 - Page not found.</h1>
          <p>
            <a href="{{ urlBase }}/?s=">Try searching for what you're looking for.</a>
          </p>
        </header>
      </div>
    </article>
  </main>
{% endblock %}
