{% extends "base.twig" %}

{% block content %}
  <main class="main-content" id="content">
    <article class="content-article">
      <div class="usa-grid">
        <header class="content-header usa-width-one-whole">
          <h1>Apply for {{ title }}</h1>
        </header>
      </div>
      <div class="usa-grid">
        <div class="content-body usa-width-one-whole">
          <script src="{{ seamless }}"></script>
        </div>
      </div>
    </article>
  </main>
{% endblock %}
