<fieldset class="screener-body-step js-screener-step" id="recap" data-track-key="Screener Step: Recap"
  data-track-data='[{"WT.si_n": "ScreeningHH"},{"WT.si_p": "Recap"},{"WT.si_cs": 1}]'>
  <h1 class="text-font-size-larger text-color-blue-dark">{{ __('Ok. Here’s what we’ve got so far:', 'accessnyc-screener') }}</h1>

  <div class="p-4 bg-color-grey-lightest">
    <div id="recap-body" class="pb-4"></div>

    <div id="screener-recaptcha-container" class="recap-captcha hidden pb-4">
      <p>{{ __('Check the "I’m not a robot" box below and click Continue to get your results.', 'accessnyc-screener') }}</p>
      <div class="screener-question-container">
        <div id="screener-recaptcha"></div>
      </div>
    </div>

    <button type="button" class="js-screener-submit btn btn-primary btn-next btn-small" data-action="{{ formAction }}">
      {{ __('Yes, continue to my results', 'accessnyc-screener') }}
    </button>
  </div>
</fieldset>
