<div class="program-next-section hide-for-print">
  <h4>{{__('Next section', 'accessnyc-program-detail')}}:</h4>
  <p>
    <a class="js-program-nav-step-link js-jump-to-anchor btn btn-secondary btn-next" href="?step={{ nextStep.value }}">{{ stepNumber + 1 }}. {{__(nextStep.label, 'accessnyc-program-detail')}}</a>
  </p>
</div>
