<fieldset class="screener-body-step active js-screener-step">

  <div class="bg-grey-lightest b-bottom b-4 b-white p-relative" id="question-household-unemployed">

    <div class="bg-blue-light overlay js-toggle-question hidden"></div> {# hidden #}

    <div class="p-relative">

      <label class="screener-label">
        <a class="d-block p-2" href="#question-household-unemployed">
          {{ __('Is anyone in your household unemployed?', 'accessnyc-screener') }}
        </a>
      </label>

      <div class="p-horizontal-2 p-bottom-2 js-toggle-question hidden"> {# hidden #}

        {% include 'screener-proto-partials/question-toggles-unemployed.twig' with {
          who: 'Who is unemployed?',
          subQuestion: 'worked in the last 18 months?',
          dataKey: 'unemployed',
          dataSubKey: 'unemployedWorkedLast18Months'
        } %}

      </div>

    </div>

  </div>

</fieldset>
