{% set questions = [
  {
    question: 'Does anyone in your household have <span class="c-blue">disabilities</span>?',
    who: 'Who currently has <span class="c-blue">disabilities</span>?',
    dataKey: 'disabled',
    styles: styles
  },
  {
    question: 'Is anyone in your household currently <span class="c-blue">pregnant</span>?',
    who: 'Who is currently <span class="c-blue">pregnant</span>?',
    dataKey: 'pregnant',
    styles: styles
  },
  {
    question: 'Is anyone in your household blind or <span class="c-blue">visually impaired</span>?',
    who: 'Who is currently <span class="c-blue">blind or visually impaired</span>?',
    dataKey: 'blind',
    styles: styles
  },
  {
    question: 'Did anyone in the household serve in the <span class="c-blue">U.S. Armed Forces, National Guard or Reserves</span>?',
    who: 'Who has <span class="c-blue">served</span>?',
    dataKey: 'veteran',
    styles: styles
  },
  {
    question: 'Is anyone in your household currently on <span class="c-blue">Medicaid</span>?',
    who: 'Who is on <span class="c-blue">Medicaid</span>?',
    dataKey: 'benefitsMedicaid',
    styles: styles
  },
  {
    question: 'Is anyone currently on <span class="c-blue">disability related Medicaid</span>?',
    who: 'Who is on <span class="c-blue">disability related Medicaid</span>?',
    dataKey: 'benefitsMedicaidDisability',
    styles: styles
  },
  {
    question: 'Who in your household is currently a <span class="c-blue">full-time student</span>?',
    who: 'Who is a <span class="c-blue">full-time student</span>?',
    dataKey: 'student',
    styles: styles
  }
] %}

<fieldset class="d-block w-100">

  <div class="bg-grey-lightest b-bottom b-4 b-white p-relative" id="question-household-member-details">

    <div class="bg-blue-light ui-overlay js-toggle-question hidden"></div> {# hidden #}

    <div class="p-relative">

      <a class="{{styles.questions}}" data-js="question" href="#question-household-member-details">
        {{ __('Household Member Details', 'accessnyc-screener') }}
      </a>

      <div class="p-horizontal-2 p-bottom-2 js-toggle-question hidden"> {# hidden #}

        <h4 class="{{styles.labels}}">
          {{ __('Tell us a little more about you and your household.', 'accessnyc-screener') }}
        </h4>

        {% for question in questions %}
        {% include 'screener-proto-partials/question-toggles-household-member-details.twig' with question %}
        {% endfor %}

        {% include 'screener-proto-partials/question-toggles-unemployed.twig' with {
          question: 'Is anyone in your household currently <span class="c-blue">unemployed</span>?',
          who: 'Who is <span class="c-blue">unemployed</span>?',
          subQuestion: 'worked in the last 18 months?',
          dataKey: 'unemployed',
          dataSubKey: 'unemployedWorkedLast18Months',
          styles: styles
        } %}

      </div>

    </div>

  </div>

</fieldset>
