<fieldset class="screener-body-step active js-screener-step" id="step-7">

  <h1 class="m-left-2 m-top">{{ __('Household', 'accessnyc-screener') }}</h1>

  <div class="bg-grey-lightest b-bottom b-4 b-white p-relative" id="question-how-many-people-live-in-your-household">

    <div class="bg-blue-light overlay js-toggle-question hidden"></div>

    <div class="p-relative">

      <label class="screener-label" for="household-members">
        <a class="d-block p-2" href="#question-how-many-people-live-in-your-household">
          {{ __('Including you, how many people are in your household?', 'accessnyc-screener') }}
        </a>
      </label>

      <div class="js-toggle-question p-horizontal-2 p-bottom-2 hidden">

        <div class="screener-question-container">
          <input class="js-screener-validate-step-ui" data-go-to-step="#step-8" id="household-members" type="number" name="Household.members" data-type="integer" min="1" max="8" required>
        </div>
      </div>

    </div>

  </div>

</fieldset>{# /#step-7 #}
