<div id="ate-controls" class="ate-controls sub-section">
	<div class="otgs-notice otgs-notice__status inline">
		<p> </p>
		<span class="spinner"> </span>
	</div>

	<div class="otgs-notice otgs-notice__errors error inline hidden">
		<p class="message"> </p>
		<p class="help">{{ strings.error_help|raw }}</p>
	</div>
</div>
