<div class="c-alert-box bg-status-info">
  <div class="c-alert-box__icon">
    <svg class="icon icon-info block">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-info"></use>
    </svg>
  </div>
  <div class="c-alert-box__body">
    {{ __('You are viewing the ' ~ WP_ENV ~ ' environment.', translationID) }}
    <a target="_blank" href="http://localhost:8080peu">
      {{ __('Follow this link to use production.', translationID) }}
    </a>
  </div>
</div>