<section id="determine-your-eligibility" data-step="determine-your-eligibility" class="outline-none active hidden:overflow print:active w-full" aria-hidden="false">
  <header>
    <h3>{{ stepNumber }}. {{ __('Determine your eligibility', 'accessnyc-program-detail') }}</h3>
  </header>

  {% if post.plain_language_eligibility | length %}
    <div>
      <div class="o-content mb-4">
        {{ post.get_field('field_58912c1a8a82d')|add_anyc_checklist|add_anyc_table_numeric }} {# plain_language_eligibility #}
      </div>
    </div>
  {% endif %}

  {% if nextStep != '' %}
  {% include 'programs/next-button.twig' %}
  {% endif %}
</section>
