<div class="print:hidden">
  <h4 class="mb-1 text-small">{{__('Next section', 'accessnyc-program-detail')}}:</h4>

  <p>
    <a data-js="program-nav-step-link, jump-to-anchor" class="btn btn-secondary btn-next text-small" href="?step={{ nextStep.value }}">
      {{ stepNumber + 1 }}. {{__(nextStep.label, 'accessnyc-program-detail')}}
    </a>
  </p>
</div>
