<section id="what-you-need-to-include" data-step="what-you-need-to-include" class="outline-none active hidden:overflow print:active w-full" aria-hidden="false">
  <header>
    <h3 class="text-blue-dark">
      {{ stepNumber }}. {{__('What you need to include', 'accessnyc-program-detail')}}
    </h3>
  </header>

  {{ post.get_field('field_589de18fca4e0') }} {# what_you_need_to_include_intro_text #}

  {% for item in post.get_field('field_58912c1a8a9de') %} {# what_you_need_to_include #}
    {% include 'components/accordion.twig' with {
      this: {
        id: 'what-you-need-to-include-' ~ loop.index,
        active: (loop.index == 1) ? true : false,
        header: item.heading,
        body: item.body
      }
    } only %}
  {% endfor %}

  {% if nextStep != '' %}
  {% include 'programs/next-button.twig' %}
  {% endif %}
</section>
