<article class="c-alert-box bg-status-info color-mid-background {{ class }}" style="margin-bottom: -1px;" role="dialog">
  <div class="c-alert-box__icon">
    <svg aria-hidden="true" class="c-alert-box__svg icon icon-info">
      <use xlink:href="#icon-info"></use>
    </svg>
  </div>

  <div class="c-alert-box__body">
    <header class="inline">
      <h2 class="m-0 inline text-font-size-normal font-sans">{{ __('Many service centers have transitioned from in-person service to virtual (phone, email, website).', 'accessnyc-locations-alert') }}</h2>
    </header>

    <div class="inline">
      <p class="inline">{{ __('Please check with the service center by their phone number, email, website instead of visiting in-person.', 'accessnyc-locations-alert') }}</p>
    </div>
  </div>
</article>
