<article class="c-alert-box color-{{ this.status.type }}-status color-mid-background {{ class }}" role="alert">

  <div class="c-alert-box__icon" aria-hidden="true">
    <svg class="c-alert-box__svg icon-4">
      <use xlink:href="#icon-{{ this.alert_icon }}"></use>
    </svg>
  </div>

  <div class="c-alert-box__body">
    {{ this.alert_content }}
  </div>
</article>
