<div class="c-disclaimer">
  <p>
    <small>
      <svg class="icon c-disclaimer__icon c-disclaimer__icon--pre text-grey-dark" aria-hidden="true">
        <use xlink:href="#icon-info"></use>
      </svg>

      {{ __(' By providing your email address or phone number, you agree to be contacted by the City of New York regarding your ACCESS NYC public benefit screening results. Your activity on ACCESS NYC is anonymous, but providing your phone number may identify you and reveal that you used the website. To find out more about how the City might use the data you share with ACCESS NYC, visit the <a href="http://www1.nyc.gov/home/terms-of-use.page" target="_blank" rel="noopener noreferrer"> Terms of Use for NYC.gov</a>, and <a href="http://www1.nyc.gov/home/privacy-policy.page" target="_blank" rel="noopener noreferrer"> Privacy Policy for NYC.gov</a>.', 'accessnyc-share') }}
    </small>
  </p>
</div>